<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springaialibabalearn.dao.AIOrderDetailsMapper">

    <resultMap id="dataMap" type="com.example.springaialibabalearn.data.OrderDetailsVO">
        <id column="order_id" property="orderId"/>
        <result column="user_id" property="userId"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="product_id" property="productId"/>
        <result column="quantity" property="quantity"/>
        <result column="price" property="price"/>
    </resultMap>

    <select id="getOrderDetails" resultMap="dataMap">
        select o1.user_id, o1.total_amount, o1.status, o1.created_at, o2.order_id, o2.product_id, o2.quantity, o2.price
        from orders as o1 left join order_item as o2 on o1.id = o2.order_id
        <where>
            <if test="orderId != null">and order_id = #{orderId}</if>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="status != null">and status = #{status}</if>
        </where>
        order by order_id;
    </select>
</mapper>